* {
    margin: 0;
    padding: 0;
    /* border-style: solid; */
}

.flex {
    display: flex;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #084a3e;
    color: white;
    padding: 0.7em;
}

nav {
    padding: 1.5em;
    margin-right: 2em;
}

.dates {
    margin-bottom: 20px;
}


li {
    list-style: none;
    padding: 3px
}

main {
    flex: 1;
    padding: 1.5em;
}

.tasks {

}

.task-desc-box {
    padding: 10px;
}

.task, .task-create, .task-edit {
    padding: 16px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 4px;
}

.task, .task-edit {
    flex: 1;
}


[name="task-name"], [name="due-date"], [name="projects"],
[name="edit-name"], [name="edit-date"], [name="edit-project"]{
    margin-right: 20px;
    margin-left: 10px;
}

[name="task-name"],[name="edit-name"]{
    flex: 1;
    padding: 5px;
}

.task-create {
    padding: 20px;
    margin-bottom: 20px;
}

.task-desc {
    padding: 10px;
    display: flex;
    gap: 20px;
}

footer {
    display: flex;
    align-content: center;
    justify-content: center;
    color: white;
    background-color: #084a3e;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.checkbox, .button {
    border-style: solid;
    width: 25px;
    height: 25px;
}

.delete-edit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-and-buttons {
    display: flex;
}

.task-create > .button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background-color: green;
    color: white;
    border-color: green;
    border-radius: 4px;
}

.selected-filter {
	background: #ebb;
	border-radius: 5px;
	padding: 4px;
}

.new-project-container{
    display: flex;
}

button {
  all: unset;
  cursor: pointer;
}

.proj-and-del {
    display: flex;
    justify-content: space-between;
}
