* {
    margin: 0;
    padding: 0;
    /* border-style: solid; */
}

.flex {
    display: flex;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: purple;
    color: white;
    padding: 0.5em;
}

nav {
    padding: 1.5em;
    margin-right: 2em;
}

.dates {
    margin-bottom: 20px;
}


li {
    list-style: none;
}

main {
    flex: 1;
    padding: 1.5em;
}
.task-desc-box {
    padding: 10px;
}

.task {
    padding: 16px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 4px;
}

.task-desc {
    padding: 10px;
    display: flex;
    gap: 20px;
}

footer {
    display: flex;
    align-content: center;
    justify-content: center;
    color: white;
    background-color: purple;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.button {
    border-style: solid;
    width: 25px;
    height: 25px;
}
