* {
    margin: 0;
    padding: 0;
    /* border-style: solid; */
}

button > * {
  pointer-events: none;
}

html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.flex {
    display: flex;
    flex: 1;
}

h2, h3 {
    margin-bottom: 10px;
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #084a3e;
    color: white;
    padding: 0.7em;
}

nav {
    padding: 1.5em;
    margin-right: 2em;
}

.dates {
    margin-bottom: 20px;
}


li {
    list-style: none;
    padding: 3px
}

main {
    flex: 1;
    padding: 1.5em;
}

.tasks {

}

.task-desc-box {
    padding: 10px;
}

.task, .task-create, .task-edit {
    padding: 16px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 4px;
}

.task, .task-edit {
    flex: 15;
}

.delete-edit {
    flex: 1;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 10px;
}


[name="task-name"], [name="due-date"], [name="projects"],
[name="edit-name"], [name="edit-date"], [name="edit-project"]{
    margin-right: 20px;
    margin-left: 10px;
}

[name="task-name"],[name="edit-name"]{
    flex: 1;
    padding: 5px;
}

.task-create {
    padding: 20px;
    margin-bottom: 20px;
}

.task-desc {
    padding: 10px;
    display: flex;
    gap: 20px;
}

footer {
    display: flex;
    align-content: center;
    justify-content: center;
    color: white;
    background-color: #084a3e;
    width: 100%;
}

.task-and-buttons {
    display: flex;
}

.new-task-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background-color: green;
    color: white;
    border-color: green;
    border-radius: 4px;
    padding: 4px;
}

.selected-filter {
	background: #ebb;
	border-radius: 5px;
	padding: 4px;
}

.new-project-container{
    display: flex;
    margin-top: 15px;
}

button {
  all: unset;
  cursor: pointer;
}

.proj-and-del {
    display: flex;
    justify-content: space-between;
    padding-right: 4px;
}


.visuallyhidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.new-project-container {
    padding: 3px;
    gap: 10px;
    justify-content: space-between;
}

.done .task {
    background-color: #d8d8d8;
    padding: 10px;
    text-decoration-line: line-through;
}
